.navbar-default {
  background-color:black;
  background-image: none;
  background-repeat: no-repeat;
  font-color: white;
  padding-left: 10px
 }
.site-header .navbar-nav .nav-link:hover {
  background-color: #fffff1;
  color: #fffddf;
}
.site-header .navbar-nav .nav-link.active {
  background-color: #000000;
  color: #fffddd;
  font-weight: 500;
}


.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}