{% extends "layout.html" %}
<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Soccer Hours - {{ title }}</title>
    {% else %}
        <title>Soccer Hours</title>
    {% endif %}
</head>
<!-- <h1>Soccer Hours</h1> -->
<br>
<h2>Search by Slot Time on Date</h3>
<br><br><br>
<form method='POST'>{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="search" value="Search" />
</form>
</html>