{% extends "layout.html" %}
<!doctype html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Soccer Hours - {{ title }}</title>
    {% else %}
        <title>Soccer Hours</title>
    {% endif %}
</head>
<!-- <h1>Soccer Hours</h1> -->
<br>
{% block content %}
<h2>Soccer Hours - User Directory</h3>

<br><br><br>

<body>
     <table class="rwd-table">
        <tbody>
            <tr>
            <b><td>User Name</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Current Status</td>
            <td>Admin Status</td>
            <td>Remove?</td>
            <td>Activate?</td>
            <td>Admin?</td></b>
            </tr>
            {% for user in list %}
             <tr><td>{{ user[1] }}</td>
                <td>{{ user[2] }} </td> 
                <td>{{ user[3] }} </td>
                <td>{% if user[4]=='A' %}Active{%else%}Inactive{%endif%}</td>
                <td>{% if user[5]=='A' %}Admin{%else%}Not an Admin{%endif%}</td>
                <td><form action="/removeuser" method="POST" ><button class="btn btn-table" type="submit" name="userid" value="{{  user[0]  }}" onclick="window.location.href='{{ url_for('removeuser') }}';">Remove User</button></form>
                <td><form action="/activateuser" method="POST" ><button class="btn btn-table" type="submit" name="userid" value="{{  user[0]  }}" onclick="window.location.href='{{ url_for('activateuser') }}';">Activate User</button></form>
                 <td><form action="/makeadmin" method="POST" ><button class="btn btn-table" type="submit" name="userid" value="{{  user[0]  }}" onclick="window.location.href='{{ url_for('makeadmin') }}';">Make Admin</button></form>
                </td>
            </tr>
         {% endfor %}
         </tbody>
     </table>
     {% endblock content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 </body>
 </html>


</html>