<!doctype html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Soccer Hours - {{ title }}</title>
    {% else %}
        <title>Soccer Hours</title>
    {% endif %}
</head>
<!-- <h1>Soccer Hours</h1> -->
<br>
<h2>Venues in your Zip Code</h3>

<br><br><br>

<html>
<body>
     <table>
         <tbody>
        <tr>
        <td>Event Name</td>
        <td>Address</td>
        <td>See events</td>
        </tr>
         {% for event in eventlist %}
             <tr><td>{{ event[0] }}</td>
                <td>{{ event[1] }} </td> 
                <td><form action="{{ url_for('joinevent', eventid=event[3]) }}" method="POST">
                        <input id="{{event[3]}}" name="eventID" type="hidden" value="{{event[3]}}">
                        <button type="submit"> Check It Out </button>
                    </form>
                </td>
            </tr>
         {% endfor %}
         </tbody>
     </table>
 </body>
 </html>


</html>